@import './reset/reset.scss';
@import './variables/global.scss';

html {
  background: #000;
}
body {
  font-family: var(--font-family-main);
  color: var(--primary-color);
  min-width: 280px;
  height: 100%;
  min-height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
  background: var(--overlay-color);
}

.app {
  position: relative;
  height: 200vh;
  padding-top: calc(27px - var(--padding-navbar-top));

  @media screen and (max-width: 1200px) {
    padding-top: calc(50px - var(--padding-navbar-mobile-top));
  }
}

.corner {
  position: absolute;
  right: 0;
  top: 0;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.main-loader {
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100vw;
  background: var(--overlay-color);
  position: fixed;
}
