.animation {
}

.MainPageSection2 {
  --margin-top-main-section2: 100px;
  margin-top: var(--margin-top-main-section2);
  padding: 100px 0 0 0;
  position: relative;
  &::before {
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    background-color: var(--color-gold-1);
    transition: width 0.2s linear;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    --margin-top-main-section2: 30px;
  }
}

.titleBox {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.animateLine {
  &::before {
    width: calc(100% + 2 * var(--padding-main-sides));
  }
}

.Title {
  max-width: 450px;
}

.Boxes {
  margin-top: 105px;
  display: grid;
  // overflow-x: hidden;
  // overflow-y: hidden;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: flex-start;
  justify-items: center;
  --box-option-height: 300px;
  --box-option-width: 290px;

  @media screen and (max-width: 650px) {
    --box-option-height: 285px;
    --box-option-width: 275px;
  }
  @media screen and (max-width: 450px) {
    --box-option-height: 265px;
    --box-option-width: 250px;
  }
  @media screen and (max-width: 350px) {
    --box-option-height: 255px;
    --box-option-width: 240px;
  }

  > div:nth-child(1) {
    justify-self: flex-start;
  }
  > div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    justify-self: flex-start;
  }
  > div:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
  }
  > div:nth-child(4) {
    justify-self: flex-end;
  }

  @media screen and (max-width: 850px) {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: center;
  }
}
