.MainPageSection1 {
  // height: calc(
  //   100vh - var(--logo-navbar-height) - (2 * var(--padding-navbar-top)) -
  //     var(--padding-top-main-page)
  // );
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  // @media screen and (max-width: 1200px) {
  //   height: calc(
  //     100vh - var(--logo-navbar-mobile-height) -
  //       (2 * var(--padding-navbar-mobile-top)) - var(--padding-top-main-page)
  //   );
  // }
}

.description {
  margin-top: 32px;

  @media screen and (max-width: 1200px) {
    margin-top: 18px;
  }
  &__item {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-thin);
  }
}
