.WalletContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  min-height: var(--min-height-100vh);
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.Text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .WalletContent {
    width: 60%;

    &__content {
    }
  }
}
@media screen and (max-width: 900px) {
  .WalletContent {
    width: 70%;

    &__content {
    }
  }
}
@media screen and (max-width: 560px) {
  .WalletContent {
    width: 80%;

    &__content {
    }
  }
}
@media screen and (max-width: 420px) {
  .WalletContent {
    width: 100%;

    &__content {
    }
  }
}
