@import '../../../../app/styles//mixins/mixins.scss';

.StayContentPageContent {
  text-align: center;
  min-height: var(--min-height-100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Links {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
  justify-content: center;
}

.Button {
  --StayContentPageContent-pic-size: 50px;

  div:nth-child(1) {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__FacebookPic {
    @include Facebook(
      var(--color-black),
      var(--color-black),
      var(--StayContentPageContent-pic-size)
    );
  }

  &__InstagramPic {
    @include Instagram(
      var(--color-black),
      var(--color-black),
      var(--StayContentPageContent-pic-size)
    );
  }

  &__Twitter {
    @include Twitter(
      var(--color-black),
      var(--color-black),
      var(--StayContentPageContent-pic-size)
    );
  }
  &__Discord {
    @include Discord(
      var(--color-black),
      var(--color-black),
      var(--StayContentPageContent-pic-size)
    );
  }
  &__Telegram {
    @include Telegram(
      var(--color-black),
      var(--color-black),
      var(--StayContentPageContent-pic-size)
    );
  }
}

@media screen and (max-width: 800px) {
  .StayContentPageContent {
    &__content {
      margin-top: 0;
    }
  }

  .Links {
    margin-top: 100px;
  }

  .Title {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .Links {
    flex-wrap: wrap;
    width: 70%;
  }
}

@media screen and (max-width: 380px) {
  .Title {
    width: auto;
  }
}
