.AboutusPage {
  padding: 0 var(--padding-main-sides);

  &__content {
    min-height: var(--min-height-100vh);
    padding-bottom: 260px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 220px;

    @media screen and (max-width: 959px) {
      gap: 150px;
      padding-bottom: 150px;
      padding-top: 0 !important;
    }

    @media screen and (max-width: 1500px) {
      padding-top: 25px;
    }

    @media screen and (max-width: 1400px) {
      padding-top: 30px;
    }
    @media screen and (max-width: 1200px) {
      padding-top: 0px;
    }
    @media screen and (min-height: 1000px) {
      min-height: auto;
    }

    @media screen and (min-width: 1800px) {
      max-height: 1300px;
      min-height: 900px;
    }
  }
}
