.AboutusPage {
  padding: 0 var(--padding-main-sides);

  &__content {
    min-height: var(--min-height-100vh);
    padding-bottom: 360px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 300px;

    @media screen and (min-height: 1000px) {
      min-height: auto;
    }

    @media screen and (min-width: 1800px) {
      max-height: 1300px;
      min-height: 900px;
    }
  }
}
