@import '../../../app/styles/mixins/mixins.scss';

.PicBoxWrapper {
  position: relative;
}

.PicBox {
  --border-radius-pic-box: 16px;
  cursor: pointer;
  padding: 2px;
  height: var(--box-option-height);
  width: var(--box-option-width);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: var(--border-radius-pic-box);
  position: relative;
  overflow: hidden;
  box-shadow: -17px 23px 51.2px 0px rgba(0, 0, 0, 0.61);
  transition: transform 0.25s linear;

  &::before {
    @include BeforeGradient;
    transition: filter 0.25s linear;
  }

  &:hover {
    transform: scale(1.025);
  }

  @media screen and (max-width: 450px) {
    width: 100%;
    height: 300px;
  }
}

.Content {
  padding: 30px;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-pic-box);
  background: var(--overlay-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  align-items: flex-end;
  transition: all 0.4s linear;

  &::before {
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--color-gold-1), transparent, transparent);
    height: 200%;
    width: 200%;
    opacity: 0;
    transition: opacity 0.5s linear;
    z-index: 2;
    filter: brightness(2);
  }

  &:after {
    content: '';
    position: absolute;
    inset: 1px;
    border-radius: var(--border-radius-pic-box);
    background: rgba(45, 45, 45, 0.75);
    z-index: 2;
  }
  @media (hover: none) {
    &:after {
      display: none;
    }
    &:before {
      display: none;
    }
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:hover {
    .BoxSpan {
      left: 120%;
    }
  }
}

.Pic {
  position: relative;
}

.Icon {
  position: absolute;
  width: 180px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
}

.Info {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @media screen and (max-width: 750px) {
  }

  &__title {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-extrabold);
    color: var(--primary-color);
  }

  &__descr {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-thin);
    color: var(--color-gray);
    text-align: center;
  }
}
