@import '../../../app/styles/mixins/mixins.scss';

.PicBox {
  --border-radius-pic-box: 16px;
  padding: 2px;
  height: var(--box-option-height);
  width: var(--box-option-width);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: var(--border-radius-pic-box);
  position: relative;
  overflow: hidden;
  box-shadow: -17px 23px 51.2px 0px rgba(0, 0, 0, 0.61);

  &::before {
    @include BeforeGradient;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
    height: 300px;
  }
}

.Content {
  padding: 30px;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-pic-box);
  background: var(--overlay-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}

.Pic {
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  @media screen and (max-width: 750px) {
  }

  &__title {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-extrabold);
    color: var(--primary-color);
  }

  &__descr {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-thin);
    color: var(--color-gray);
    text-align: center;
  }
}
