.NavbarMobileOpened {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  min-height: 100vh;
  height: 100%;
  border-left: 2px solid var(--color-gold-1);
  z-index: 20;
  background: var(--overlay-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: var(--padding-navbar-mobile-top) 0;
  animation: 250ms cubic-bezier(0.5, 0, 0.5, 1) 0s 1 normal none running
    animation-open;
  opacity: 1;
}

.Header {
  display: flex;
  align-items: center;
  padding-right: var(--padding-main-sides);
  height: var(--logo-navbar-mobile-height);
}

.Back {
  margin-left: auto;
  display: flex;
  height: fit-content;
  &__pic {
    width: 24px;
    height: 29px;
  }
}

.Items {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.closing {
  animation: 150ms cubic-bezier(0.5, 0, 0.5, 1) 0s 1 normal none running
    animation-close;
  animation-fill-mode: forwards;
}

.blackOverlay {
  position: fixed;
  z-index: 15;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  animation: 250ms cubic-bezier(0.5, 0, 0.5, 1) 0s 1 normal none running
    animation-overlay-open;
  animation-fill-mode: forwards;
}

.closingOverlay {
  animation: 150ms cubic-bezier(0.5, 0, 0.5, 1) 0s 1 normal none running
    animation-overlay-close;
  animation-fill-mode: forwards;
}

@keyframes animation-open {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes animation-close {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes animation-overlay-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes animation-overlay-close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
