.MainPageSection1Text {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-extrabold);

  &__white {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-extrabold);
    color: var(--primary-color);
    filter: drop-shadow(0px 0px 1px black);
  }

  &__gold {
    display: flex;
    align-items: center;
    h1 {
      filter: drop-shadow(0px 0px 1px black);
      font-size: var(--font-size-7);
      font-weight: var(--font-weight-extrabold);
      color: var(--color-gold-2);
      background: repeating-linear-gradient(
        to right,
        #a2682a 0%,
        #be8c3c 8%,
        #be8c3c 18%,
        #d3b15f 27%,
        #faf0a0 35%,
        #ffffc2 40%,
        #faf0a0 50%,
        #d3b15f 58%,
        #be8c3c 67%,
        #b17b32 77%,
        #bb8332 83%,
        #d4a245 88%,
        #e1b453 93%,
        #a4692a 100%
      );
      background-size: 150%;

      /* Set the background size and repeat properties. */
      background-size: 200%;
      background-repeat: repeat;

      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      animation: h1Animation 5s ease-in-out infinite;
    }

    span {
      font-size: var(--font-size-7);
      font-weight: var(--font-weight-extrabold);
      color: var(--primary-color);
      -webkit-text-fill-color: var(--primary-color);
    }

    > h1 {
      > br:nth-child(1) {
        display: none;
        @media screen and (max-width: 520px) {
          display: block;
        }
      }
    }
  }

  &__white:nth-child(1) {
    > br {
      display: none;
    }
    > br:nth-child(5) {
      display: block;
    }

    @media screen and (max-width: 520px) {
      > br:nth-child(5) {
        display: none;
      }
      > br:nth-child(3) {
        display: block;
      }
      > br:nth-child(6) {
        display: block;
      }
    }
  }
  &__white:nth-child(3) {
    > br {
      display: none;
    }
    > br:nth-child(3) {
      display: block;
    }
    > br:nth-child(5) {
      display: block;
    }

    @media screen and (max-width: 520px) {
    }
  }
}

@keyframes h1Animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
