.AboutusSection2 {
  display: flex;
  flex-direction: column;
  gap: 90px;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 959px) {
    gap: 70px;
  }
  @media screen and (max-width: 750px) {
    gap: 50px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 750px) {
      gap: 40px;
    }
    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }
}

.pic1 {
  top: 0 !important;
  left: -25% !important;
}
.pic3 {
  height: 180% !important;
  top: -10% !important;
  left: -72% !important;
}
