@import '../../../app/styles/mixins/mixins.scss';

.ButtonGoldBorder {
  position: relative;
  overflow: hidden;
  padding: 3px;
  border-radius: 10px;

  &:before {
    @include BeforeGradient;
  }

  &:hover {
    .content {
      background-color: var(--color-gold-2);
    }

    svg {
      g {
        path {
          stroke: var(--color-black);
        }
        path:nth-child(2) {
          fill: var(--color-black);
        }
      }
    }
    .Text {
      &__title {
        color: var(--color-black);
      }
      &__info {
        color: var(--color-black);
      }
    }
  }
}

.content {
  display: flex;
  align-items: center;

  padding: 7px 25px;
  gap: 12px;
  background-color: var(--color-black);
  transition: all 0.1s linear;
  border-radius: 8px;
  position: relative;
  height: 100%;

  svg {
    g {
      path {
        transition: all 0.1s linear;
      }
      path:nth-child(2) {
        transition: all 0.1s linear;
      }
    }
  }
}

.Text {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;

  &__title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-thin);
  }
  &__info {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-thin);
  }
}
