.NavbarMobile {
  padding: var(--padding-navbar-top) var(--padding-main-sides);
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: var(--margin-navbar-bottom);
  filter: drop-shadow(2px 3px 1px #000);
}

.Logo {
  display: flex;
  height: fit-content;
  &__pic {
    height: var(--logo-navbar-height);
  }
}

.MenuBtn {
  &__content {
    width: 55px;
    height: 40px;
  }
}

.blurred {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(10, 10, 10, 0.7);
  filter: none;
}
