.NavbarMobile {
  padding: var(--padding-navbar-top) var(--padding-main-sides);
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: var(--margin-navbar-bottom);
  filter: drop-shadow(2px 3px 1px #000);
}

.Logo {
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  &__pic {
    height: var(--logo-navbar-height);
  }

  &__by {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
    // border-radius: 8px;
    // border: 0.5px solid var(--Linear, #af8a53);
    padding: 0px 4px;
    // background: #2b2b2b;
  }
}

.MenuBtn {
  &__content {
    width: 45px;
    height: 35px;
  }
}

.blurred {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(10, 10, 10, 0.7);
  filter: none;
}
