.Navbar {
  padding: var(--padding-navbar-top) var(--padding-main-sides);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 10;
  max-width: 2000px;
  transform-origin: top center;
  margin-bottom: var(--margin-navbar-bottom);
}

.Logo {
  display: flex;
  align-items: center;
  gap: 16px;
  height: fit-content;
  &__title {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-3);
    color: var(--primary-color);
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 2px #000);
  }

  &__by {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    border-radius: 8px;
    border: 0.5px solid var(--Linear, #af8a53);
    padding: 2px 8px;
    background: #2b2b2b;
  }

  &__pic {
    height: var(--logo-navbar-height);
  }
}

.Menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.blurred {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(10, 10, 10, 0.7);
  filter: none;
}

.hidden {
  pointer-events: none;
}

@keyframes navbarHideAnimation {
  0% {
    opacity: 0 !important;
  }
  0% {
    transform: rotateX(-5deg) !important;
  }
}
