.curve {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.MainPage {
  --padding-top-main-page: 85px;
  padding: var(--padding-main-sides);
  position: relative;
  padding-top: var(--padding-top-main-page);

  @media screen and (max-height: 850px) {
    --padding-top-main-page: 65px;
  }

  @media screen and (max-height: 750px) {
    --padding-top-main-page: 35px;
  }
  @media screen and (max-width: 650px) {
    --padding-top-main-page: 50px;
  }
  @media screen and (max-width: 550px) {
    --padding-top-main-page: 40px;
  }
}
