.curve {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.MainPage {
  --padding-top-main-page: 85px;
  padding: var(--padding-main-sides);
  position: relative;
  padding-top: var(--padding-top-main-page);

  @media screen and (max-width: 1200px) {
    --padding-top-main-page: 105px;
  }
}
